{% extends "base.html" %}
{% block content %}
    <form method="post" style="display: flex; flex-direction: column; width: 50%;">
        <label for="client">Client</label>
        <input type="text" name="client" value="{{ data[0].id }}" hidden>
        <label for="address">Address</label>
        <select name="address">
            {% for address in data[1] %}
                <option value="{{ address.id }}">{{ address.address }}</option>
            {% endfor %}
        </select>
        <label for="date">Date</label>
        <input type="date" name="date">
        <label for="status">Status</label>
        <input type="text" name="status">
        <label for="description">Description</label>
        <input type="text" name="description">
        <label for="document">Document</label>
        <input type="text" name="document">
        <label for="sum">Sum</label>
        <input type="number" name="sum">
        <input type="submit" value="Add contract">
    </form>
{% endblock content %}